In [1]:
import folium
import json
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import os
import geopandas as gpd
from shapely.geometry import Point

In [2]:
path =r'/Users/thaliagiraldo/Library/Mobile Documents/com~apple~CloudDocs/CareerFoundry/Immersion /Lesson 6'

In [3]:
df = pd.read_csv(os.path.join(path, 'df_cleaned_Jan27.csv'), index_col = False)

In [4]:
df

,Unnamed: 0,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,...,trip_distance_miles,trip_date_start,trip_date_end,start_time,end_time,ride_day_of_week,ride_day_of_week_numeric,hour_start_time,rideable_type_code,time_of_day
0,0,4EAD8F1AD547356B,electric_bike,2023-11-30 21:50:00,2023-11-30 22:13:00,Millennium Park,13008,Pine Grove Ave & Waveland Ave,TA1307000150,41.881101,...,4.857630,2023-11-30,2023-11-30,09:50 PM,10:13 PM,Thursday,3,21,2,evening
1,1,6322270563BF5470,electric_bike,2023-11-03 09:44:00,2023-11-03 10:17:00,Broadway & Sheridan Rd,13323,Broadway & Sheridan Rd,13323,41.952868,...,0.003233,2023-11-03,2023-11-03,09:44 AM,10:17 AM,Friday,4,9,2,morning
2,2,B37BDE091ECA38E0,electric_bike,2023-11-30 11:39:00,2023-11-30 11:40:00,State St & Pearson St,TA1307000061,State St & Pearson St,TA1307000061,41.897533,...,0.006015,2023-11-30,2023-11-30,11:39 AM,11:40 AM,Thursday,3,11,2,morning
3,3,CF0CA5DD26E4F90E,classic_bike,2023-11-08 10:01:00,2023-11-08 10:27:00,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,...,0.000000,2023-11-08,2023-11-08,10:01 AM,10:27 AM,Wednesday,2,10,1,morning
4,4,EB8381AA641348DB,classic_bike,2023-11-03 16:20:00,2023-11-03 16:54:00,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,...,0.000000,2023-11-03,2023-11-03,04:20 PM,04:54 PM,Friday,4,16,1,afternoon
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362459,362459,30B44BD4C16E688C,classic_bike,2023-11-24 08:39:00,2023-11-24 08:47:00,Clark St & Wellington Ave,TA1307000136,Southport Ave & Wellington Ave,TA1307000006,41.936497,...,0.829189,2023-11-24,2023-11-24,08:39 AM,08:47 AM,Friday,4,8,1,morning
362460,362460,094A79892812BAB9,classic_bike,2023-11-06 09:07:00,2023-11-06 09:10:00,Aberdeen St & Jackson Blvd,13157,Peoria St & Jackson Blvd,13158,41.877726,...,0.266712,2023-11-06,2023-11-06,09:07 AM,09:10 AM,Monday,0,9,1,morning
362461,362461,F0A7DF8A44FDA3CB,electric_bike,2023-11-10 19:35:00,2023-11-10 19:44:00,Halsted St & Roscoe St,TA1309000025,Southport Ave & Wellington Ave,TA1307000006,41.943687,...,0.935676,2023-11-10,2023-11-10,07:35 PM,07:44 PM,Friday,4,19,2,evening
362462,362462,4D5E3685BB913A3C,classic_bike,2023-11-27 09:11:00,2023-11-27 09:13:00,Aberdeen St & Jackson Blvd,13157,Peoria St & Jackson Blvd,13158,41.877726,...,0.266712,2023-11-27,2023-11-27,09:11 AM,09:13 AM,Monday,0,9,1,morning
362463,362463,1FA95C375BE4B6A6,electric_bike,2023-11-20 16:16:00,2023-11-20 16:17:00,Aberdeen St & Jackson Blvd,13157,Peoria St & Jackson Blvd,13158,41.877869,...,0.272805,2023-11-20,2023-11-20,04:16 PM,04:17 PM,Monday,0,16,2,afternoon

In [5]:
df = df.drop(columns = ['Unnamed: 0'])

In [6]:
#1 is electric bike 
#0 is classic bike
dummies_rideable = pd.get_dummies(df.rideable_type).astype(int)

In [7]:
merged_dummies_rideable = pd.concat([df,dummies_rideable], axis = 'columns')

In [8]:
merged_dummies_rideable = merged_dummies_rideable.drop(columns = ['rideable_type_code'])

In [9]:
merged_dummies_rideable.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual', 'trip_duration', 'trip_distance_miles',
       'trip_date_start', 'trip_date_end', 'start_time', 'end_time',
       'ride_day_of_week', 'ride_day_of_week_numeric', 'hour_start_time',
       'time_of_day', 'classic_bike', 'electric_bike'],
      dtype='object')

In [10]:

dummies_member = pd.get_dummies(merged_dummies_rideable.member_casual).astype(int)

In [11]:
dummies_member

        casual  member
0            0       1
1            0       1
2            0       1
3            0       1
4            0       1
...        ...     ...
362459       0       1
362460       0       1
362461       0       1
362462       0       1
362463       0       1

[362464 rows x 2 columns]

In [13]:
merged = pd.concat([merged_dummies_rideable,dummies_member], axis = 'columns')
merged

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,...,start_time,end_time,ride_day_of_week,ride_day_of_week_numeric,hour_start_time,time_of_day,classic_bike,electric_bike,casual,member
0,4EAD8F1AD547356B,electric_bike,2023-11-30 21:50:00,2023-11-30 22:13:00,Millennium Park,13008,Pine Grove Ave & Waveland Ave,TA1307000150,41.881101,-87.624082,...,09:50 PM,10:13 PM,Thursday,3,21,evening,0,1,0,1
1,6322270563BF5470,electric_bike,2023-11-03 09:44:00,2023-11-03 10:17:00,Broadway & Sheridan Rd,13323,Broadway & Sheridan Rd,13323,41.952868,-87.650035,...,09:44 AM,10:17 AM,Friday,4,9,morning,0,1,0,1
2,B37BDE091ECA38E0,electric_bike,2023-11-30 11:39:00,2023-11-30 11:40:00,State St & Pearson St,TA1307000061,State St & Pearson St,TA1307000061,41.897533,-87.628694,...,11:39 AM,11:40 AM,Thursday,3,11,morning,0,1,0,1
3,CF0CA5DD26E4F90E,classic_bike,2023-11-08 10:01:00,2023-11-08 10:27:00,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,-87.630834,...,10:01 AM,10:27 AM,Wednesday,2,10,morning,1,0,0,1
4,EB8381AA641348DB,classic_bike,2023-11-03 16:20:00,2023-11-03 16:54:00,Theater on the Lake,TA1308000001,Theater on the Lake,TA1308000001,41.926277,-87.630834,...,04:20 PM,04:54 PM,Friday,4,16,afternoon,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
362459,30B44BD4C16E688C,classic_bike,2023-11-24 08:39:00,2023-11-24 08:47:00,Clark St & Wellington Ave,TA1307000136,Southport Ave & Wellington Ave,TA1307000006,41.936497,-87.647539,...,08:39 AM,08:47 AM,Friday,4,8,morning,1,0,0,1
362460,094A79892812BAB9,classic_bike,2023-11-06 09:07:00,2023-11-06 09:10:00,Aberdeen St & Jackson Blvd,13157,Peoria St & Jackson Blvd,13158,41.877726,-87.654787,...,09:07 AM,09:10 AM,Monday,0,9,morning,1,0,0,1
362461,F0A7DF8A44FDA3CB,electric_bike,2023-11-10 19:35:00,2023-11-10 19:44:00,Halsted St & Roscoe St,TA1309000025,Southport Ave & Wellington Ave,TA1307000006,41.943687,-87.648855,...,07:35 PM,07:44 PM,Friday,4,19,evening,0,1,0,1
362462,4D5E3685BB913A3C,classic_bike,2023-11-27 09:11:00,2023-11-27 09:13:00,Aberdeen St & Jackson Blvd,13157,Peoria St & Jackson Blvd,13158,41.877726,-87.654787,...,09:11 AM,09:13 AM,Monday,0,9,morning,1,0,0,1
362463,1FA95C375BE4B6A6,electric_bike,2023-11-20 16:16:00,2023-11-20 16:17:00,Aberdeen St & Jackson Blvd,13157,Peoria St & Jackson Blvd,13158,41.877869,-87.654898,...,04:16 PM,04:17 PM,Monday,0,16,afternoon,0,1,0,1

In [16]:
merged.to_csv(os.path.join(path, 'OHE_cleaned_Feb1.csv'))